{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block css %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
      <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
      <link rel="stylesheet" href="{% static 'css/layout.css'%}" />
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'img/SUG logo.jpg'%}" />
    <title>SUG AWARD</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-transparent sticky-top">
        <div class="container">
          <div class="d-block">
            <a class="navbar-brand" href="{% url 'vote:index'%}">
              <img class="rounded p-0 " src="/static/img/suga awards logos.jpeg" width="100" height="50" alt="sug logo"
              />
            </a>
            <a class="navbar-brand" href="{% url 'vote:index'%}">
              <img class="rounded p-0 " src="/static/img/SUG logo.jpg" width="100" height="50" alt="sug logo" />
            </a>
          </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navba"
        aria-controls="navigation-index"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >

        <span class="navbar-toggler-icon text-dark"></span>
       
      </button>
      <div class="collapse navbar-collapse" id="navba" >
        <ul class="navbar-nav ml-auto">
          {% if not request.user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'vote:index' %}">Home </a>
          </li>
          {% else %}
              <li class="nav-item text-light py-3 py-md-2">
                <i class="fa fa-user"></i> <em>{{ request.user.full_name }}</em>
             {% if request.user.is_staff and request.user.is_authenticated %} 
                <li class="nav-item">
                  <a href="{% url 'vote:result' %}" class="nav-link text-primary">Result</a>
                </li>
             {% endif %}
              <li class="nav-item ">
                <a href="{% url 'vote:logout' %}" class="btn btn-primary nav-link text-light mx-md-2">Logout</a>
              </li>

          {% endif %}
        </ul>
      </div>
    </div>
    </nav>
       <hr class="light">
                </div>
    {% include 'messages.html' %}

    <div class="container">
      <div class="row">
        {% block content %} {% endblock content %}
      </div>
    </div>
    <footer class="footer">
 <div class=" copyright text-center ">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>
        made with <i class="fas fa-heart"></i> by 
        <a href="https://www.github.io/nuksi911/my_portfolio" target="_blank">Nuru Design</a> 
      </div>
 </footer>
  {% block script %}
    <script src="{% static 'js/jquery.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
  {% endblock %}
  </body>
</html>
